@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;700&display=swap');
body{
    padding: 0;
    margin: 0;
    font-size: 16px;
    overflow-x: hidden !important;
    color: #353945;
    font-family: 'Nunito', sans-serif;

}
/* navbar styling */
nav{
    background-color: #ffff;
}
.navbar-light .navbar-brand img {
   width: 10rem;
}
.has-search .form-control {
    padding-left: 2.375rem;
}
.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
.has-search .form-control{
    width: 100%;
    border-radius: 5rem;
    border: 1px solid #DADADA;
    color: #DADADA;
}
.navbar-light .navbar-nav .nav-link {
    font-weight: bold;
    color: #000000;
}
.navbar-light .navbar-toggler {
    color: transparent !important; 
    border-color: transparent !important;
}
.btn-tuanekaColor{
    background-color: #D62E6A;
    color: #ffffff;
    border-radius: 5rem;
    width: 7rem; 
    border-color: #D62E6A ;
}
.btn-tuanekaColor:hover{
    background-color: #D62E6A;
    border-color: #D62E6A;
}
.btn-tuanekaColor:focus{
    color: #fff;
    background-color: #D62E6A;
    border-color: #D62E6A;
    box-shadow: 0 0 0 0.25rem #D62E6A;
}
.btn-tuanekaColor:active:focus{
    box-shadow:0 0 0 0.25rem #D62E6A ;
}



/* main section styling */
.main{
    padding-top: 5rem;
}

.hero h1{
    font-weight: bold;
    font-size: 30px;
}

.hero .button a{
    font-weight: bold;
    text-decoration: none;
    color: #353945;
}

.hero-img{
    padding-top: 1rem;

}
.hero-img img{
    width: 100%;
}
.hero-text{
    padding-top: 1rem;
}






:root {
    --main-white-color: white;
    --main-black-color: black;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .static {
    position: static;
  }
  
  .cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .owl-carousel .owl-slide {
    position: relative;
  }
  
  .owl-carousel .owl-slide-animated {
    transform: translateX(20px);
    opacity: 0;
    visibility: hidden;
    transition: all 0.05s;
  }
  
  .owl-carousel .owl-slide-animated.is-transitioned {
    transform: none;
    opacity: 1;
    visibility: visible;
    transition: all 0.5s;
  }
  
  .owl-carousel .owl-slide-title.is-transitioned {
    transition-delay: 0.2s;
  }
  
  .owl-carousel .owl-slide-subtitle.is-transitioned {
    transition-delay: 0.35s;
  }
  
  .owl-carousel .owl-slide-cta.is-transitioned {
    transition-delay: 0.5s;
  }
  
  .owl-carousel .owl-dots,
  .owl-carousel .owl-nav {
    position: absolute;
    top: 39rem;
    left: 8rem;

  }
  
  .owl-carousel .owl-dots .owl-dot,
  .owl-carousel .owl-nav [class*="owl-"]:focus {
    outline: none;
  }
  
  .owl-carousel .owl-dots .owl-dot span {
    background: transparent;
    border: 1px solid var(--main-black-color);
    transition: all 0.2s ease;
  }
  
  .owl-carousel .owl-dots .owl-dot:hover span,
  .owl-carousel .owl-dots .owl-dot.active span {
    background: var(--main-black-color);
  }
  
  .owl-carousel .owl-nav {
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    margin: 0;
  }
  
  .owl-carousel .owl-nav svg {
    opacity: 0.3;
    transition: opacity 0.3s;
  }
  
  .owl-carousel .owl-nav button:hover svg {
    opacity: 1;
  }
  
  .owl-carousel .owl-nav [class*="owl-"]:hover {
    background: transparent;
  }
  
  section {
    display: none;
  }
  .owl-carousel .owl-nav {
    top: 5%;
  }
      
  .owl-carousel .owl-nav svg {
    width: 24px;
    height: 24px;
  }












/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
   
}

/*  Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    /* navbar styling */
    .has-search .form-control {
        width: 15rem;
    }  
    .hero-text{
        padding-top: 3rem;
    }
    .hero h1{
        font-size: 42px;
    }
    .owl-carousel .owl-dots,
    .owl-carousel .owl-nav {
        top: 17rem;
        left: 10rem;

    }

}

/*  Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    /* navbar styling */
    .has-search .form-control {
        width: 20rem;
    }  
    .btn-tuanekaColor {
        width: 10rem;
    }
    .owl-carousel .owl-dots,
    .owl-carousel .owl-nav {
        top: 17rem;
        left: 5rem;

    }


}

/*  X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    /* navbar styling */
    .has-search .form-control {
        width: 25rem;
    } 
    .navbar-expand-md .navbar-nav .login {
        padding-right: 2.5rem !important;
    }
    .owl-carousel .owl-dots,
    .owl-carousel .owl-nav {
        top: 17rem;
        left: 5rem;
    }
    .hero h1 {
        font-size: 48px;
    }

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
    .owl-carousel .owl-dots,
      .owl-carousel .owl-nav {
        left: 20rem;
      }
}

